<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Extra — Jornadas Tradicionales</title>
    <base href="/" />
    <link rel="stylesheet" href="../assets/styles/main.scss" />
    <script type="module" src="../assets/scripts/main.js"></script>
  </head>
  <body>
    <include src="views/header.html"></include>
    <main class="extra">
      <section class="container">
        <header class="extra__header">
          <h1>Galería de Sabores</h1>
          <p>
            Un recorrido visual por los ingredientes y colores que definen la
            cocina tradicional.
          </p>
        </header>

        <div class="gallery">
          <figure class="gallery__item">
            <img src="../assets/images/cazuela-barro.png" alt="Cazuela" />
            <figcaption>Cazuela de barro</figcaption>
          </figure>

          <figure class="gallery__item">
            <img src="../assets/images/pan-artesano.webp" alt="Pan artesano" />
            <figcaption>Pan artesano</figcaption>
          </figure>

          <figure class="gallery__item">
            <img
              src="../assets/images/aceite-de-oliva.jpg"
              alt="Aceite virgen"
            />
            <figcaption>Aceite virgen</figcaption>
          </figure>

          <figure class="gallery__item">
            <img
              src="../assets/images/verduras-frescas.webp"
              alt="Verduras frescas"
            />
            <figcaption>Verduras frescas</figcaption>
          </figure>
          <figure class="gallery__item">
            <img src="../assets/images/especies.png" alt="Especies" />
            <figcaption>Especies</figcaption>
          </figure>
          <figure class="gallery__item">
            <img src="../assets/images/legumbres.png" alt="Legumbres" />
            <figcaption>Legumbres</figcaption>
          </figure>
        </div>
      </section>
    </main>
    <include src="views/footer.html"></include>
  </body>
</html>
