/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";
/* stylelint-disable no-invalid-position-at-import-rule */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/list-group";

.bs-scope {
  .badge {
    color: #6c757d !important;
  }

  @import "bootstrap/scss/buttons";
  @import "bootstrap/scss/card";
  @import "bootstrap/scss/navbar";
  @import "bootstrap/scss/badge";
}

@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../../node_modules/@phosphor-icons/web/src/regular/style.css";
